.technology {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 55px;
  &__title {
    margin-top: -100px;
    @include font(36px, 43px);
    font-weight: 600;
    text-align: center;
  }

  &__content {
    position: relative;

    &-num {
      @include font(100px, 120px);
      font-weight: bold;
      text-align: center;
      color: rgba(16, 16, 16, 0.08);
    }

    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-title {
      @include font(18px, 22px);
      font-weight: bold;
      text-align: center;
      color: $primeblack;
    }

    &-text {
      @include font(12px, 14px);
      font-weight: normal;
      text-align: center;
      width: 200px;
    }
  }


}